* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Playpen Sans Thai", cursive;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;

    background-color: var(--background-color);
}
html{
    scroll-behavior: smooth;
}
.container {
    width: 100%;
    margin: 0;
    padding: 2rem 0;
    overflow: hidden;
}

/* --------------color------------- */
:root {
    /* text color */
    --text-primary-color: #423830;
    --text-secondary-color: #100535;
    --text-white-color: #ffffff;
    --text-mute-color: #7e726a;

    /* background color */
    --background-color: #f1d8ff;
    --background-header-color: #fffee8;
    --background-footer-color: #9b5ab4;

    /* shadow color */
    --shadow-color: 0 4px 8px #8f8f8f;

    /* border color */
    --border-color: 1px solid #686868;
    --border-img: 10px solid #fffee8;
    --border-icon-img: 2px solid #686868;
}


/* --------------------------------------
            Header Section
----------------------------------------- */
header {
    color: var(--text-primary-color);
    background-color: var(--background-header-color);
    padding: 2rem;

    border: var(--border-color);
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
    box-shadow: var(--shadow-color);
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    padding-left: 2rem;
    margin: 0.5rem;
    font-weight: bold;
    font-size: 22px;
}


/* ------------nav bar----------- */
.nav a {
    text-decoration: none;
    color: var(--text-primary-color);
    
    font-size: 18px;
    padding: 1rem;
    margin-right: 1rem;

    text-align: center;
    align-items: center;

    border: var(--border-color);
    box-shadow: var(--shadow-color);
    border-radius: 999px;

    display: inline-block;
    transition: transform 0.5s;
}

.nav a:hover {
    transform: translateY(-10px);
    background-color: var(--background-color);
}

.select-page{
    background-color: var(--background-color);
}

/* ============================================== */

/* --------------------------------------
            Main Section
----------------------------------------- */

/* For Every Page */
.page-title{
    align-items: center;
    padding: 1rem;
    font-size: 28px;
    font-weight: bold;

    border: var(--border-color);
    background-color: var(--text-white-color);
    margin: 0.25rem 0.5rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.btn-page{
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    padding: 0.5rem 2rem 0;
}
.next-page a{
    text-decoration: none;
    font-size: 34px;
    
    color: var(--text-primary-color);
    background-color: var(--background-header-color);
    padding: 1rem;

    text-align: center;
    align-items: center;

    border: var(--border-color);
    box-shadow: var(--shadow-color);
    border-radius: 999px;

    display: inline-flex;
    transition: transform 0.5s;
}
.next-page a:hover{
    transform: translateY(-10px);
}
.before-page a{
    text-decoration: none;
    font-size: 34px;
    
    color: var(--text-primary-color);
    background-color: var(--background-header-color);
    padding: 1rem;

    text-align: center;
    align-items: center;

    border: var(--border-color);
    box-shadow: var(--shadow-color);
    border-radius: 999px;

    display: inline-flex;
    transition: transform 0.5s;
}
.before-page a:hover{
    transform: translateY(-10px);
}


/* Home Page */
.home-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    margin: 0 auto;
    max-width: 100%;
}
.profile-img {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.profile-img img {
    max-width: 700px;
    max-height: 700px;

    border: var(--border-img);
    border-radius: 50%;
    box-shadow: var(--shadow-color);

    object-fit: cover;
}
.profile-text{
    background-color: var(--background-header-color);
    border: var(--border-color);

    border-radius: 7rem;
    margin: 5rem;
    max-width: 100%;

    padding: 2rem;
    text-align: center;
    align-items: center;
}
.title-text{
    font-size: 36px;
    font-weight: bold;
    text-align: center;

}
.present-text{
    padding: 0 3rem ;
    margin-bottom: 2rem;
}
.next-page-index a{
    text-decoration: none;
    
    color: var(--text-primary-color);
    background-color: var(--background-color);
    padding: 1.5rem;

    text-align: center;
    align-items: center;

    border: var(--border-color);
    box-shadow: var(--shadow-color);
    border-radius: 999px;

    display: inline-flex;
    transition: transform 0.5s;
}
.next-page-index a:hover{
    transform: translateY(-10px);
    background-color: var(--background-color);
}



/* About Page */
.about-page{
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 1rem;
    
    border: var(--border-color);
    border-radius: 1rem;
    margin: 0 2rem;
    background-color: var(--text-white-color);
}
.about-img{
    display: flex;
    justify-content: center;
    align-items: top;
    text-align: center;
    padding-top: 4rem;
}
.about-page img{
    max-width: 700px;
    max-height: 700px;

    border: var(--border-img);
    border-radius: 7rem;
    box-shadow: var(--shadow-color);

    object-fit: cover;
}
.about-info li{
    list-style: none;
    margin-left: 2rem;
    font-size: 18px;
    padding-bottom: 1rem;
}
.personal-info ,.education ,.experience ,.goals{
    background-color: var(--background-header-color);
    border: var(--border-color);
    border-radius: 2rem;
    box-shadow: var(--shadow-color);

    margin: 2rem 5rem;
    padding: 1rem;
}
.personal-info h3 ,.education h3 , .experience h3 ,.goals h3{
    font-weight: bold;
    font-size: 24px;
    text-align: center;

    border: var(--border-color);
    background-color: var(--background-color);
    padding: 0.5rem;
    margin: 0.25rem 0.5rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}
.title-info-about{
    border: var(--border-color);
    background-color: var(--text-white-color);
    padding: 0.25rem 1rem;
    margin: 0.25rem;
    border-radius: 1rem;

}



/* Skill Page */
.skills-page{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2rem;

    padding: 2rem 5rem;
}
.skill-card{
    border: var(--border-color);
    background-color: var(--background-header-color);
    padding: 0.25rem 2rem;
    margin: 0 2rem;
    border-radius: 3rem;
    box-shadow: var(--shadow-color);
    transition: transform 0.5s;
}
.skill-card:hover{
    transform: translateY(-10px);
}
.skill-img img{
    max-width: 90px;
    max-height: 90px;
    object-fit: cover;

    border: var(--border-icon-img);
    border-radius: 2rem;
}
.skill-img{
    text-align: center;
    margin: 1rem;
}
.hard-skills , .design-skills ,.soft-skills,.optional-skills{
    margin: 1rem 0 2rem;
}
.hard-skills h3,.design-skills h3,.soft-skills h3,.optional-skills h3{
    font-weight: bold;
    font-size: 20px;
    padding: 1rem 0.5rem;
    margin: 0 0.25rem;
    text-align: center;
    
    background-color: var(--text-white-color);
    border: var(--border-color);
    border-radius: 1rem;
}
.hard-skills ul li,.design-skills ul li,.soft-skills ul li,.optional-skills ul li{
    list-style-type: none;
    font-size: 18px;
    padding: 0 1.5rem 1rem;
}



/* Project Page */
/* Contact Page */




/* ============================================== */

/* --------------------------------------
            Footer Section
----------------------------------------- */
.footer {
    font-size: 20px;
    align-items: center;
    text-align: center;

    color: var(--text-primary-color);
    background-color: var(--background-header-color);
    padding: 1.5rem;
    margin-top: 0.5rem;

    border: var(--border-color);
    border-radius: 3rem;
}

.footer-grid {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    gap: 2rem;
    align-items: center;
}

.footer-grid i {
    font-size: 40px;
}