.main {
    padding: 1rem;
    margin: 1rem 5rem;
}

.card {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 1rem;


    border: var(--border-color);
    background-color: var(--background-header-color);
    padding: 1rem 2rem;
    margin: 0 2rem;
    border-radius: 3rem;
    box-shadow: var(--shadow-color);
}

.card-img {
    text-align: center;
}

.card-img img {
    max-width: 700px;
    object-fit: cover;

    border: var(--border-icon-img);
    border-radius: 2rem;
}

.card-text {
    background-color: var(--text-white-color);
    padding: 1rem 2rem;
    margin: 2rem;
    border-radius: 3rem;
    font-weight: bold;
    font-size: 18px;
}

.card-title {
    font-size: 22px;
    padding-bottom: 1rem;
}

.card-text a {
    text-decoration: none;

    color: var(--text-primary-color);
    background-color: var(--background-color);
    padding: 1rem;
    margin-top: 2rem;

    text-align: center;
    align-items: center;

    border: var(--border-color);
    box-shadow: var(--shadow-color);
    border-radius: 999px;

    display: inline-flex;
    transition: transform 0.5s;
}

.card-text a:hover {
    transform: translateY(-10px);
    background-color: var(--background-header-color);
}

.card-text p {
    padding: 1.5rem 1rem 0 1.5rem;
}

/* ---------------------------------
            Responsive
---------------------------------- */
@media (max-width:1280px) {
    .card {
        display: inline-block;
        margin-bottom: 3rem
    }
    .main {
        padding: 1rem;
        margin: 1rem;
    }
}

@media (max-width:768px) {
    .card-img img {
        max-width: 500px;
    }
}